section.tuyendung-ct
    .container
        .row
            .col-lg-9
                .main-content
                    .title Nhân viên Content Marketing
                    hr
                    .table
                        table
                            tr
                                td.fw-700 Chức vụ
                                td Nhân viên
                                td.fw-700 Số lượng
                                td 02
                            tr
                                td.fw-700 Ngành nghề
                                td Nhân viên content
                                td.fw-700 Kinh nghiệm
                                td 01 năm
                            tr
                                td.fw-700 Hình thức làm việc
                                td Làm việc theo ca
                                td.fw-700 Bằng cấp
                                td Tốt nghiệp PTTH
                            tr
                                td.fw-700 Hạn nộp hồ sơ
                                td 29.12.2018
                                td.fw-700 Độ tuổi
                                td 18 - 35
                    hr
                    .sub-title Mô tả công việc
                    p Viết nội dung bài đăng lên các kênh: Facebook, website,… theo yêu cầu của quản lý.
                    p Đề xuất, thực hiện các công việc nhằm tăng chất lượng bài/tin, lượng truy cập facebook, website.
                    p Hỗ trợ xây dựng nội dung sáng tạo cho các sự kiện, chiến dịch quảng cáo, truyền thông thương hiệu…
                    p Thực hiện những việc khác theo sự phân công của Quản lý trực tiếp.
                    p Công việc cụ thể trao đổi trong quá trình phỏng vấn.
                    .sub-title Quyền lợi được hưởng
                    p Được đóng Bảo hiểm y tế, BHXH theo luật định
                    p Được hỗ trợ đào tạo chuyên ngành nâng cao nghiệp vụ, kiến thức trình độ
                    p Được hưởng phúc lợi: Ngày lễ tết, ngày sinh nhật
                    p Chế độ thưởng theo quy định riêng của Công ty trong từng thời kỳ và được xem xét tuỳ thuộc vào cống hiến của từng cá nhân
                    .sub-title Nộp hồ sơ
                    p.strong
                        strong Tại văn phòng Trung tâm:
                        | Toà nhà Innovation, CVPM Quang Trung, P. Tân Chánh Hiệp, Q. 12, TP. HCM
                    p Được đóng Bảo hiểm y tế, BHXH theo luật định
                    p Được hỗ trợ đào tạo chuyên ngành nâng cao nghiệp vụ, kiến thức trình độ
                    .flex-center
                        button.btn-nop
                            span nộp hồ sơ
            .col-lg-3
                .row
                    .col
                        .vitri-khac
                            .title Vị trí khác
                            - for(i = 0; i < 4; i++)
                                .item
                                    a(href="javascript:void(0)")
                                        p Nhân viên kinh doanh Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam excepturi laboriosam laudantium eos voluptate ratione enim culpa possimus. Accusamus, dolorum.
                                        time 31.07.2018