section.FAQs
	.container
		.row
			.col-lg-3
				.tabs.tabs-1(wrap='wrap-1').active
					a(href="javascript:void(0)") Tuyển sinh 2019
				.tabs.tabs-2(wrap='wrap-2')
					a(href="javascript:void(0)") Quy chế tuyển sinh
				.tabs.tabs-3(wrap='wrap-3')
					a(href="javascript:void(0)") Học phí - Học bổng
				.tabs.tabs-4(wrap='wrap-4')
					a(href="javascript:void(0)") Hỏi - Đáp
			.col-lg-9
				.title Tuyển sinh 2019
				.tabs-wrapper(wrap='wrap-1').active
					.tabs-item(tabs='tabs-1')
						.tabs-title
							span
							p Các hình thức đăng ký vào đại học FPT là gì?
							i.lnr.lnr-chevron-down
						.tabs-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, iusto. Quisquam assumenda nobis id ratione quidem expedita. Ducimus nemo ut temporibus minima assumenda, quae pariatur qui accusantium asperiores excepturi quis!
					.tabs-item(tabs='tabs-2')
						.tabs-title
							span
							p Kỳ thi tvuyển sinh đầu vào của FPT như thế nào?
							i.lnr.lnr-chevron-down
						.tabs-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, iusto. Quisquam assumenda nobis id ratione quidem expedita. Ducimus nemo ut temporibus minima assumenda, quae pariatur qui accusantium asperiores excepturi quis!
					.tabs-item(tabs='tabs-2')
						.tabs-title
							span
							p Em là nữ, em thích học CNTT nhưng Kỹ thuật phần mềm (KTPM) hay An toàn thông tin (ATTT) sẽ hợp với nữ hơn?
							i.lnr.lnr-chevron-down
						.tabs-content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, iusto. Quisquam assumenda nobis id ratione quidem expedita. Ducimus nemo ut temporibus minima assumenda, quae pariatur qui accusantium asperiores excepturi quis!
				.flex-center
					button.btn-more
						span xem thêm