section.fpt-home-1
	.container
		.row.no-gutters
			.col-lg-6
				.tuyensinh-wrapper
					h2 Tuyển sinh
					article.news-item
						.img
							img(src="./img/home/tuyensinh.jpg", alt="")
						.content
							h6
								a(href="javascript:void(0)") hoạt động hướng nghiệp
							h4 
								a(href="javascript:void(0)") Quy chế tuyển sinh Đại học FPT năm 2019 có gì mới?
							p Trường Đại học FPT vừa chính thức công bố Quy chế tuyển sinh hệ đại học chính quy năm 2019 với nhiều điểm mới
			.col-lg-6
				.cauhoi-wrapper
					h2 câu hỏi
					ul
						li 
							p Lập trình viên
						li 
							p Kỹ sư cầu nối
						li 
							p Kiểm thử phần mềm
						li 
							p Đảm bảo chất lượng phần mềm
						li 
							p Quản trị dự án(PM))
						li 
							p Lập trình viên
						li 
							p Kỹ sư cầu nối
						li 
							p Kiểm thử phần mềm
						li 
							p Đảm bảo chất lượng phần mềm
						li 
							p Quản trị dự án(PM))
						li 
							p Lập trình viên
						li 
							p Kỹ sư cầu nối
						li 
							p Kiểm thử phần mềm
						li 
							p Đảm bảo chất lượng phần mềm
						li 
							p Quản trị dự án(PM))
						li 
							p Lập trình viên
						li 
							p Kỹ sư cầu nối
						li 
							p Kiểm thử phần mềm
						li 
							p Đảm bảo chất lượng phần mềm
						li 
							p Quản trị dự án(PM))
					.flex-center
						a(href="#").btn-more
							span xem thêm