section.fpt-daotao-ct1
	.container
		.section-wrapper
			.row
				.col-lg-7
					.prospects
						h2 Triển vọng nghề nghiệp
						.content
							p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
							br
							p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
							br
							p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
							br
							p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
							br
							p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
							br
							p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
				.col-lg-5
					.jobs
						h2 học ngành này - làm nghề gì?
						ul
							li 
								p Lập trình viên
							li 
								p Kỹ sư cầu nối
							li 
								p Kiểm thử phần mềm
							li 
								p Đảm bảo chất lượng phần mềm
							li 
								p Quản trị dự án(PM))
							li 
								p Lập trình viên
							li 
								p Kỹ sư cầu nối
							li 
								p Kiểm thử phần mềm
							li 
								p Đảm bảo chất lượng phần mềm
							li 
								p Quản trị dự án(PM))
							li 
								p Lập trình viên
							li 
								p Kỹ sư cầu nối
							li 
								p Kiểm thử phần mềm
							li 
								p Đảm bảo chất lượng phần mềm
							li 
								p Quản trị dự án(PM))
							li 
								p Lập trình viên
							li 
								p Kỹ sư cầu nối
							li 
								p Kiểm thử phần mềm
							li 
								p Đảm bảo chất lượng phần mềm
							li 
								p Quản trị dự án(PM))
