extends ../_layout.pug
block var
	- var title = "Campus"
	- var name = "campus"
block main
	include ../../components/banner/sub/index.pug
	include ../../components/about/nav/index.pug
	include ../../components/about/campus/index.pug