.tuyendung-2
	.container
		background: #fff
		padding-top: 50px
	.title
		font-size: 35px
		line-height: 35px
		margin-bottom: 30px
		font-weight: 700
		color: #333
		text-align: center
		text-transform: uppercase
		@media (max-width: 576px)
			font-size: 24px
			line-height: 24px
			margin-bottom: 16px
	.table
		height: 300px
		max-width: 80%
		margin: 0 auto
		@media (max-width: 992px)
			max-width: none
		table
			display: flex
			flex-flow: column
			height: 100%
			width: 100%
			border: 1px solid #E1E1E1
			font-family: Muli, sans-serif
			text-align: center
			@media (max-width: 768px)
				width: 150%
			@media (max-width: 576px)
				width: 200%
		thead, tbody tr
			display: table
			table-layout: fixed
		thead
			flex: 0 0 auto
			width: 100%
			th
				background: #F26F21
				color: #fff
				font-weight: 600
				font-size: 16px
				padding: 12px 0
				text-align: left
				&:nth-child(1)
					width: 40%
					padding-left: 15px
				&:nth-child(2)
					width: 39%
				&:nth-child(3)
					width: 20%
		tbody
			flex: 1 1 auto
			display: block
			overflow-y: scroll
			&::-webkit-scrollbar
				width: 6px
			&::-webkit-scrollbar-track
				background: #E5E5E5
			&::-webkit-scrollbar-thumb
				border-radius: 99px
				background: #F7BD9B
			&::-webkit-scrollbar-thumb:hover
				background: #F26F21
			tr
				width: 100%
				transition: all .3s ease-in-out
				td
					padding: 13px 0
					font-weight: 600
					text-align: left
					font-size: 14px
					&:nth-child(1)
						width: 40%
						padding: 12px 15px
					&:nth-child(2)
						width: 41%
					&:nth-child(3)
						width: 20%
				@media (min-width: 1200px)
					&:hover
						cursor: pointer
						box-shadow: 0 0 10px 0px #ECECEC
						td
							&:nth-child(2)
								color: #F26F21
		@media (max-width: 768px)
			table
				border: 0
				display: block
				width: 100%
			thead
				display: none
			tbody
				display: block
				max-height: 300px
				overflow-y: auto
				padding-right: 8px
				tr
					display: flex
					flex-wrap: wrap
					padding-bottom: 10px
					border-bottom: 1px dashed #F26F21
					&:not(:last-child)
						margin-bottom: 10px
				td
					font-size: 12px !important
					width: 100% !important
					padding: 0 !important
					text-align: left !important
					&:nth-child(1)
						flex: 0 0 100%
						max-width: 0 0 100%
					&:nth-child(2)
						order: 1
						flex: 0 0 60%
						max-width: 0 0 60%
					&:nth-child(3)
						order: 2
						flex: 0 0 40%
						max-width: 0 0 40%
					&:nth-child(4)
						flex: 0 0 40%
						max-width: 0 0 40%
					&:nth-child(3),&:nth-child(4)
						text-align: right !important
