section.tuyendung-2
	.container
		h1.title vị trí tuyển dụng
		.table
			table
				thead
					tr
						th Doanh nghiệp
						th Vị trí tuyển dụng
						th Hạn nộp hồ sơ
				tbody
					-for(i=0; i<20; i++)
						tr
							td cÔNG TY PHẦN MỀM fpt
							td Nhân viên Kinh doanh
							td 31.07.2018