.tuyendung-2
    .container
        background: #fff
        padding-top: 50px
    .title
        font-size: 35px
        line-height: 35px
        margin-bottom: 30px
        font-weight: 700
        color: #333
        text-align: center
        text-transform: uppercase
        @media (max-width: 576px)
            font-size: 24px
            line-height: 24px
            margin-bottom: 16px
    .table
        height: 400px
        @media (max-width: 768px)
            overflow-x: auto
        table
            display: flex
            flex-flow: column
            height: 100%
            width: 100%
            border: 1px solid #E1E1E1
            font-family: Muli, sans-serif
            text-align: center
            @media (max-width: 768px)
                width: 150%
            @media (max-width: 576px)
                width: 200%
        thead, tbody tr
            display: table
            table-layout: fixed
        thead
            flex: 0 0 auto
            width: 100%
            th
                background: #F26F21
                color: #fff
                font-weight: 600
                font-size: 18px
                padding: 12px 0
                @media (max-width: 576px)
                    font-size: 15px
                    padding: 7px 0
        tbody
            flex: 1 1 auto
            display: block
            overflow-y: scroll
            &::-webkit-scrollbar
                width: 6px
            &::-webkit-scrollbar-track
                background: #E5E5E5
            &::-webkit-scrollbar-thumb
                border-radius: 99px
                background: #F7BD9B
            &::-webkit-scrollbar-thumb:hover
                background: #F26F21

            tr
                width: 100%
                transition: all .3s ease-in-out
                td
                    padding: 13px 0
                    &:nth-child(1)
                        font-weight: 600
                        font-size: 25px
                        color: #999
                        @media (max-width: 576px)
                            font-size: 13px
                    &:nth-child(2)
                        font-weight: 600
                        font-size: 15px
                        text-transform: uppercase
                        @media (max-width: 576px)
                            font-size: 13px
                &:hover
                    cursor: pointer
                    box-shadow: 0 0 10px 0px #ECECEC
                    td
                        &:nth-child(2),
                        &:nth-child(3)
                            color: #F26F21