section.tintuc-ds
    .container
        h1.title hoạt động hướng nghiệp
        .row
            .col-lg-6
                .news-item
                    figure
                        img(src="./img/tintuc/big.png", alt="big.png")
                        figcaption
                            h4
                                a(href="javascript:void(0)") ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp
                            p Vượt 1600km, anh Tuấn Trung từ Cần Thơ mang đến FPT Educamp 2018 bài trình bày liên quan đến công tác tuyển sinh trong bối cảnh 4.0. Chủ đề này như thỏi nam châm hút người tham dự, “nóng” đến mức khiến người tham dự đến đứng, ngồi chật kín phòng trình bày tham luận. ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp
                            a(href="javascript:void(0)").link Chàng hotboy ngành An toàn Thông tin nhận học bổng 100%
            .col-lg-6
                .row
                    -for(i=0; i <4; i++)
                        .col-12.col-md-6
                            .news-item
                                figure
                                    .box-img
                                        img(src="./img/tintuc/small.png", alt="small.png")
                                    figcaption
                                        h5
                                            a(href="javascript:void(0)") ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp
                                        time 04/08/2018
            - for(i = 0; i < 9; i++)
                .col-12.col-md-4
                    .news-item
                        figure
                            .box-img
                                img(src="./img/tintuc/medium.png", alt="medium.png")
                            figcaption
                                h5
                                    a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                                time 04/08/2018
        .flex-center
            button.btn-more
                span xem thêm