section.fpt-daotao-ct2
	.container
		h2 Vì sao hơn 
			strong 20.000 sinh viên 
			| lựa chọn 
			strong Đại học FPT
			| ?
		.row
			.col-sm-6.col-lg-4
				.reason-item
					.icon
						img(src="./img/nganhdaotao/icon/Layer 70.png", alt="")
					.content
						span 100%
						span Sinh viên được nhà tuyển dụng chào đón
			.col-sm-6.col-lg-4
				.reason-item
					.icon
						img(src="./img/nganhdaotao/icon/Layer 71.png", alt="")
					.content
						span 100%
						span Sinh viên được nhà tuyển dụng chào đón
			.col-sm-6.col-lg-4
				.reason-item
					.icon
						img(src="./img/nganhdaotao/icon/Layer 72.png", alt="")
					.content
						span 100%
						span Sinh viên được nhà tuyển dụng chào đón
			.col-sm-6.col-lg-4
				.reason-item
					.icon
						img(src="./img/nganhdaotao/icon/Layer 73.png", alt="")
					.content
						span 100%
						span Sinh viên được nhà tuyển dụng chào đón
			.col-sm-6.col-lg-4
				.reason-item
					.icon
						img(src="./img/nganhdaotao/icon/Layer 74.png", alt="")
					.content
						span 100%
						span Sinh viên được nhà tuyển dụng chào đón
			.col-sm-6.col-lg-4
				.reason-item
					.icon
						img(src="./img/nganhdaotao/icon/Layer 75.png", alt="")
					.content
						span 100%
						span Sinh viên được nhà tuyển dụng chào đón