.fixed-register
	a(href="#") 
		img(src="./img/footer-icon-2.png", alt="")
		span Đăng ký ngay
.fixed-chat
	.container
		.fixed-chat-wrapper
			a(href="#").online-status
				img(src="./img/footer-icon-1.png", alt="")
				span Đại học FPT đang online
			a(href="#").register
				img(src="./img/footer-icon-2.png", alt="")
				span Đăng ký trực tuyến
				img(src="./img/icon-footer.png", alt="").icon
.fixed-phone
	.phone-icon
		img(src="./img/phone-icon.png", alt="")
	a(href="#").phone-number
		span 0974 250 568