extends ../_layout.pug
block var
	- var title = "Chi tiet đào tạo"
	- var name = "daotao-ct"
block main
	include ../../components/banner/daotao/index.pug
	include ../../components/nav/index.pug
	include ../../components/daotao/ct/c-1/index.pug
	include ../../components/daotao/ct/c-2/index.pug
	include ../../components/daotao/ct/c-3/index.pug
	include ../../components/daotao/ct/c-4/index.pug
	include ../../components/daotao/ct/c-5/index.pug
	include ../../components/daotao/ct/c-6/index.pug
	include ../../components/daotao/ct/c-7/index.pug