extends ../_layout.pug
block var
	- var title = "Event"
	- var name = "event"
block main
	include ../../components/banner/sub/index.pug
	include ../../components/event/e-1/index.pug
	include ../../components/event/e-2/index.pug
	include ../../components/event/ct/index.pug