nav.fpt-about-nav
	.container
		.nav-wrapper
			ul.about-nav
				li
					a(href="#") Tập đoàn FPT 
				li
					a(href="#") Tổ chức giáo dục FPT 
				li
					a(href="#") Trường đại học FPT
				li
					a(href="#") Campus đại học FPT