.fpt-event-detail
	.container
		.section-wrapper
			.row.detail-row
				.col-lg-5
					.event-poster
						img(src="./img/sukien/1.jpg", alt="")
				.col-lg-7
					article.event-detail
						h1 IMPACT VIETNAM START-UP CHALLENGE WE DARE YOU
						.list-info
							.info-item
								.icon
									img(src="./img/sukien/address.png", alt="")
								.info-content
									.title địa điểm
									.content Coder School – 12 Tôn Đản, P.13, Q.4, TPHCM
							.info-item
								.icon
									img(src="./img/sukien/calendar.png", alt="")
								.info-content
									.title địa điểm
									.content Coder School – 12 Tôn Đản, P.13, Q.4, TPHCM 
							.info-item
								.icon
									img(src="./img/sukien/stopwatch.png", alt="")
								.info-content
									.title địa điểm
									.content Coder School – 12 Tôn Đản, P.13, Q.4, TPHCM
						.fullcontent
							p Quỹ đầu tư mạo hiểm TRIVE và trường đại học SUSS từ SINGAPORE sẽ mang đến các ý tưởng kinh doanh về công nghệ để tìm kiếm những co-founder trẻ tuổi là các sinh viên lập trình đầy tài năng tại Việt Nam.
							br
							p Tại #Impact_Vietnam_Startup_challenge, bạn là sẽ là 1 CTO trong nhóm gồm 3 người là những nhà khởi nghiệp trẻ đến từ Singapore, cùng xây dựng các ý tưởng kinh doanh và phát triển sản phẩm demo trong vòng 4 ngày để chinh phục được các vị BGK khó tính và giành khoản tài trợ 30.000 SGD và gói tư vấn khởi nghiệp miễn phí đến từ Quỹ đầu tư TRIVE.
					.social-sharing
						.fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button_count', data-size='small')
							a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&src=sdkpreparse') Chia sẻ
					.contact
						.title LIÊN HỆ:
						p Facebook: 
							a(href="https://www.facebook.com/fetchvietnam", target="_blank") https://www.facebook.com/fetchvietnam/
						p 
							| Email: 
							a(href="mailto:nancy@fetch.tech") nancy@fetch.tech
						p
							| Hotline: 
							a(href="tel:+84363550663") Ms. Ngoc: +84 (0)363550663
			.related-new
				h2 sự kiện khác
				.row
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore