section.fpt-daotao-banner
	.banner
		img(src="./img/banner/daotao.jpg", alt="")
		.description-wrapper
			.container
				.description.col-lg-5
					span Ngành
					h1 công nghệ thông tin
					p Ngành Kỹ thuật phần mềm đào tạo những kiến thức liên quan đến quy trình phát triển phần mềm một cách chuyên nghiệp nhằm tạo ra sản phẩm phần mềm đạt chất lượng cao, đáp ứng các nhu cầu nghiệp vụ cụ thể trong nền sản xuất của xã hội.
	.slogan
		img(src="./img/slogan.png", alt="")
	.breadcrumb-wrapper
		.container
			ol.breadcrumb
				li
					a(href="#") Giới thiệu
				li
					a(href="#") Giới thiệu