section.fpt-daotao-ct4
	.container
		.section-wrapper
			h2 chương trình đào tạo
			.program-table
				table
					thead
						tr
							th &nbsp;
							th học phần
							th kỹ năng đạt được
					tbody
						tr
							td nền tảng
							td(data-title="học phần")
								p Định hướng + Rèn luyện tập trung
								p Phương pháp học Đại học hiệu quả
								p Vovinam
								p 01-05 Level tiếng Anh (Dựa vào năng lực tiếng Anh đầu vào)
								p Học kỳ tiếng Anh tại nước ngoài
								p Lập trình với Alice
							td(data-title="kỹ năng đạt được")
								ul
									li
										p Sinh viên có phương pháp học Đại học hiệu quả như: tự học, làm việc nhóm, quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
									li
										p Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
									li
										p Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao tiếp thông thạo với giảng viên và sinh viên quốc tế.
									li
										p Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
									li
										p Sinh viên được trang bị tư duy về lập trình một cách trực quan
						tr
							td nền tảng
							td(data-title="học phần") 
								p Định hướng + Rèn luyện tập trung
								p Phương pháp học Đại học hiệu quả
								p Vovinam
								p 01-05 Level tiếng Anh (Dựa vào năng lực tiếng Anh đầu vào)
								p Học kỳ tiếng Anh tại nước ngoài
								p Lập trình với Alice
							td(data-title="kỹ năng đạt được")
								ul
									li
										p Sinh viên có phương pháp học Đại học hiệu quả như: tự học, làm việc nhóm, quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
									li
										p Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
									li
										p Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao tiếp thông thạo với giảng viên và sinh viên quốc tế.
									li
										p Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
									li
										p Sinh viên được trang bị tư duy về lập trình một cách trực quan
						tr
							td nền tảng
							td(data-title="học phần")  
								p Định hướng + Rèn luyện tập trung
								p Phương pháp học Đại học hiệu quả
								p Vovinam
								p 01-05 Level tiếng Anh (Dựa vào năng lực tiếng Anh đầu vào)
								p Học kỳ tiếng Anh tại nước ngoài
								p Lập trình với Alice
							td(data-title="kỹ năng đạt được")
								ul
									li
										p Sinh viên có phương pháp học Đại học hiệu quả như: tự học, làm việc nhóm, quản lý thời gian, tối ưu hoá năng lực não bộ cải thiện kết quả học tập.
									li
										p Sinh viên đạt trình độ tiếng Anh tương đương IELTS 6.0 hoặc TOEFL iBT 80.
									li
										p Sinh viên tự tin đọc hiểu giáo trình, học tập hoàn toàn bằng tiếng Anh, giao tiếp thông thạo với giảng viên và sinh viên quốc tế.
									li
										p Sinh viên có tinh thần rèn luyện thể chất, phát triển cá nhân toàn diện.
									li
										p Sinh viên được trang bị tư duy về lập trình một cách trực quan
								