.fpt-daotao-ct4
	ul
		list-style: disc
	.container
		background: #fff
	.section-wrapper
		padding-top: 25px
	h2
		text-transform: uppercase
		font-size: 35px
		text-align: center
		color: #333
		margin-bottom: 20px
		@media (max-width: 480px)
			font-size: 18px
	table
		width: 100%
		color: #333
		table-layout: fixed
		border-collapse: collapse
		th,td
			border-right: 1px solid #efefef
			&:first-child
				border-left: 1px solid #efefef
		thead
			tr
				display: flex
			th
				background: #f26f21
				text-align: center
				padding: 17px 0
				text-transform: uppercase
				color: #fff
				font-size: 18px
				&:nth-child(1)
					width: 16.666666%
				&:nth-child(2),&:nth-child(3)
					width: 41.666666%
				&:nth-child(3)
					border-right: 0
		tbody
			display: block
			overflow: auto
			height: 460px
			width: 100%
			&::-webkit-scrollbar
				width: 5px
				border-radius: 5px
				background: #e5e5e5
			&::-webkit-scrollbar-thumb
				border-radius: 5px
				background: #f7bd9b
			tr
				td
					&:nth-child(1)
						text-align: center
						text-transform: uppercase
						font-weight: 700
						width: 16.666666%
					&:nth-child(2),&:nth-child(3)
						padding: 32px 20px
						font-family: 'Muli'
						font-size: 14px
						line-height: 22px
						font-weight: 400
						width: 41.9%
					ul
						padding-left: 15px
						li
							color: #333
			tr:nth-child(2n)
				background: #fafafa
		@media (max-width: 576px)
			display: block
			max-height: 500px
			overflow: auto
			&::-webkit-scrollbar
				width: 5px
				border-radius: 5px
				background: #e5e5e5
			&::-webkit-scrollbar-thumb
				border-radius: 5px
				background: #f7bd9b
			thead
				display: none
			tbody
				height: auto
				tr
					display: flex !important
					flex-direction: column
					padding: 15px
					margin-bottom: 20px
					td
						width: 100% !important
						border: 0 !important
						padding: 0 !important
						display: block
						&:nth-child(1)
							padding: 0
							font-size: 28px !important
							margin-bottom: 15px
						&:nth-child(2),&:nth-child(3)
							margin-bottom: 30px
							&:before
								content: attr(data-title)
								display: block
								text-transform: uppercase
								font-size: 20px
								font-weight: 700
								margin-bottom: 15px
							p
								padding-left: 15px
								font-size: 15px
								line-height: 23px
								margin-bottom: 10px
								&:before
									content: '-'
									display: inline-block
									margin-right: 5px
						&:nth-child(3)
							ul
								list-style: none
								padding-left: 0

