.fpt-banner-home
	position: relative
	@media (max-width: 576px)
	.swiper-pagination-wrapper
		position: absolute
		width: 100%
		bottom: 10%
	.swiper-navigation-wrapper
		width: 80%
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: 20
		.swiper-navigation
			width: 100%
			display: flex
			justify-content: space-between
		.swiper-prev,.swiper-next
			color: white
			outline: none
			cursor: pointer
			span
				font-size: 40px
			&:hover
				color: #f26f21
		@media (max-width: 768px)
			.swiper-prev,.swiper-next
				span
					font-size: 28px
		@media (max-width: 576px)
			width: 100%
	.swiper-pagination-wrapper
		z-index: 20
		.scroll-to-section
			margin-left: 45px
			margin-bottom: 21px
			cursor: pointer
		.swiper-pagination-bullet
			margin-left: 10px
			background: #cdcacc
			opacity: 1
			width: 10px
			height: 10px
		.swiper-pagination-bullet-active
			background: #f26f21
		@media (max-width: 576px)
			bottom: -5px
			.swiper-pagination-bullet
				width: 5px
				height: 5px
				margin-left: 5px
				&:first-child
					margin-left: 0
			.swiper-pagination
				left: 50%
				transform: translateX(-50%)
			.scroll-to-section
				display: none
	.slogan
		position: absolute
		bottom: 0
		left: 50%
		transform: translate(-50%,50%)
		z-index: 20
		@media (max-width: 576px)
			max-width: 12rem
			img
				max-height: 1rem