section.fpt-banner-home
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.item
					img(src="./img/banner/1.jpg", alt="")
			.swiper-slide
				.item
					img(src="./img/banner/1.jpg", alt="")
			.swiper-slide
				.item
					img(src="./img/banner/1.jpg", alt="")
	.swiper-navigation-wrapper
		.container
			.swiper-navigation
				.swiper-prev
					span.lnr-chevron-left
				.swiper-next
					span.lnr-chevron-right
	.swiper-pagination-wrapper
		.container
			.scroll-to-section
				img(src="./img/mouse.png", alt="")
			.swiper-pagination
	.slogan
		img(src="./img/slogan.png", alt="")