section.tintuc-2
	.container
		- for(i = 0; i < 3; i++)
			.row
				.col
					.title
						h4 Đời sống sinh viên
						a(href="javascript:void(0)").more xem tất cả
			.row
				.col-lg-4
					.item
						figure
							img(src="./img/tintuc/medium.png", alt="medium.png")
							figcaption
								h4
									a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
								time 04/08/2018
				.col-lg-4
					.item
						figure
							img(src="./img/tintuc/medium.png", alt="medium.png")
							figcaption
								h4
									a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
								time 04/08/2018
				.col-lg-4
					.item
						figure
							img(src="./img/tintuc/medium.png", alt="medium.png")
							figcaption
								h4
									a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
								time 04/08/2018
