<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="FPT-SuKien.xslt" name="Danh sách sự kiện"></templatelist>
  <templatelist xsltname="FPT-LichSuKien.xslt" name="Danh sách lich sự kiện"></templatelist>
  <templatelist xsltname="FPT-Video.xslt" name="Danh sách video"></templatelist>
  <templatelist xsltname="FPT-DS-TinTuc.xslt" name="Danh sách Tin tức FPT"></templatelist>
  <templatelist xsltname="FPT-BaiVietTuyenSinh2019.xslt" name="Bài viết tuyển sinh 2019"></templatelist>
  <templatelist xsltname="FPT-HoiNhapQuocTe.xslt" name="Hội nhập quốc tế"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="FPT-ChiTietTinTuc.xslt" name="Chi tiết tin FPT"></templatedetail>
  <templatedetail xsltname="FPT-ChiTietSuKien.xslt" name="Chi tiết sự kiện"></templatedetail>

  <position>
    <!--<add name="Trang chủ" value="1" resourcefile="" />-->
  </position>
</templates>