section.fpt-tuyensinh-khonggian
	.container
		.section-wrapper
			h2 không gian học tập lý tưởng
			.khonggian-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							figure
								img(src="./img/tuyensinh/khonggian-1.jpg", alt="alt")
								figcaption Studio thực hành ngành Truyền thông
						.swiper-slide
							figure
								img(src="./img/tuyensinh/khonggian-1.jpg", alt="alt")
								figcaption Studio thực hành ngành Truyền thông
						.swiper-slide
							figure
								img(src="./img/tuyensinh/khonggian-1.jpg", alt="alt")
								figcaption Studio thực hành ngành Truyền thông
						.swiper-slide
							figure
								img(src="./img/tuyensinh/khonggian-1.jpg", alt="alt")
								figcaption Studio thực hành ngành Truyền thông
			.swiper-navigation
				.swiper-prev
					span.mdi-chevron-left
				.swiper-next
					span.mdi-chevron-right