section.fpt-tuyensinh-doitac
	.container
		.section-wrapper
			.row
				.col-md-3
					h2
						span 356
						| đối tác tuyển dụng toàn cầu
				.col-md-9
					.doitac-slider
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.banner
										img(src="./img/tuyendung/aligis.png", alt="")
								.swiper-slide
									.banner
										img(src="./img/tuyendung/sanyo.png", alt="")
								.swiper-slide
									.banner
										img(src="./img/tuyendung/triwire.png", alt="")
								.swiper-slide
									.banner
										img(src="./img/tuyendung/unilever.png", alt="")
								.swiper-slide
									.banner
										img(src="./img/tuyendung/aligis.png", alt="")
								.swiper-slide
									.banner
										img(src="./img/tuyendung/aligis.png", alt="")
						.swiper-navigation
							.swiper-prev
								span.mdi-chevron-left
							.swiper-next
								span.mdi-chevron-right