section.fpt-daotao-ct6
	.container
		.section-wrapper
			h2 VÌ SAO NÊN CHỌN NGÀNH 
				strong KỸ THUẬT PHẦN MỀM 
				| TẠI 
				strong ĐẠI HỌC FPT?
			.row
				.col-lg-6
					.feedback-item
						.img
							img(src="./img/tuyendung/1.jpg", alt="")
						.content
							.name Kim Jack
							.job Sinh viên ngành truyền thông
							.feedback Ngoài kinh chuyên môn và nghiệm thực tế được trang bị trong quá trình học tại Đại học FPT, tiếng Anh là chìa khoá giúp tôi tự tin làm việc cùng các đối tác, khách hàng đến từ Mỹ, Singapore, Châu Âu
				.col-lg-6
					.feedback-item
						.img
							img(src="./img/tuyendung/1.jpg", alt="")
						.content
							.name Kim Jack
							.job Sinh viên ngành truyền thông
							.feedback Ngoài kinh chuyên môn và nghiệm thực tế được trang bị trong quá trình học tại Đại học FPT, tiếng Anh là chìa khoá giúp tôi tự tin làm việc cùng các đối tác, khách hàng đến từ Mỹ, Singapore, Châu Âu
				.col-lg-6
					.feedback-item
						.img
							img(src="./img/tuyendung/1.jpg", alt="")
						.content
							.name Kim Jack
							.job Sinh viên ngành truyền thông
							.feedback Ngoài kinh chuyên môn và nghiệm thực tế được trang bị trong quá trình học tại Đại học FPT, tiếng Anh là chìa khoá giúp tôi tự tin làm việc cùng các đối tác, khách hàng đến từ Mỹ, Singapore, Châu Âu
				.col-lg-6
					.feedback-item
						.img
							img(src="./img/tuyendung/1.jpg", alt="")
						.content
							.name Kim Jack
							.job Sinh viên ngành truyền thông
							.feedback Ngoài kinh chuyên môn và nghiệm thực tế được trang bị trong quá trình học tại Đại học FPT, tiếng Anh là chìa khoá giúp tôi tự tin làm việc cùng các đối tác, khách hàng đến từ Mỹ, Singapore, Châu Âu