@import ../../shared/mixins.sass
@import ../../components/banner/home/index
@import ../../components/tuyensinh/nganhdaotao/index
@import ../../components/daotao/ct/c-2/index
@import ../../components/tintuc/t-1/index
@import ../../components/event/shared/event-item
@import ../../components/home/h-1/index
@import ../../components/home/h-2/index
@import ../../components/slide/s-1/index
.fpt-tuyensinh-nganhdaotao
	.section-wrapper
		padding: 72px 0 50px
	h2
		display: none
	.description
		background: transparent
.fpt-daotao-ct2
	margin-bottom: 0
.tintuc-1
	.container
		padding-bottom: 20px
		background: #fff
.fpt-home-event
	background-image: url('.././img/bg-sukien.jpg')
	padding: 50px 0
	.event-item
		margin-bottom: 30px
	h2
		font-size: 35px
		line-height: 35px
		margin-bottom: 30px
		font-weight: 700
		color: #fff
		text-align: center
		text-transform: uppercase
		@media (max-width: 576px)
			font-size: 28px
			line-height: 24px
			margin-bottom: 16px