extends ../_layout.pug

block var
	- var title = "Home"
	- var name = "index"
	- var bodyClass = "index-page"

block main
	include ../../components/banner/home/index.pug
	include ../../components/tuyensinh/nganhdaotao/index.pug
	include ../../components/daotao/ct/c-2/index.pug
	include ../../components/tintuc/t-1/index.pug
	section.fpt-home-event
		.container
			h2 lịch sự kiện
			.section-wrapper
				.row
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
					.col-md-6.col-lg-3
						article.event-item
							.img
								img(src="./img/sukien/thumb.jpg", alt="")
							.summary
								.date
									span.month t11
									span.day 30
								h3 Khởi động cuộc thi “Thank you teacher”
								.time 8:00 AM
								.location Singapore
				.flex-center
					a(href="#").btn-more
						span xem thêm
	include ../../components/home/h-1/index.pug
	include ../../components/home/h-2/index.pug
	include ../../components/slide/s-1/index.pug

