section.slide-1
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.item
						figure
							a(href="https://youtu.be/IKx5CvIayV0" data-fancybox).box-img
								img(src="./img/tintuc/video.png", alt="video.png")
							figcaption First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT
				.swiper-slide
					.item
						figure
							a(href="https://youtu.be/IKx5CvIayV0" data-fancybox).box-img
								img(src="./img/tintuc/video.png", alt="video.png")
							figcaption First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT
				.swiper-slide
					.item
						figure
							a(href="https://youtu.be/IKx5CvIayV0" data-fancybox).box-img
								img(src="./img/tintuc/video.png", alt="video.png")
							figcaption First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT
				.swiper-slide
					.item
						figure
							a(href="https://youtu.be/IKx5CvIayV0" data-fancybox).box-img
								img(src="./img/tintuc/video.png", alt="video.png")
							figcaption First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT First step - Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT
		.navigation
			i.lnr.lnr-chevron-left
			i.lnr.lnr-chevron-right
		.flex-center
			button.btn-more 
				span Xem tất cả
