section.thisinh-1
	.container
		h1.title thí sinh 2019
		.row
			.col-lg-9
				.row
					.col-md-8
						.news-item
							figure
								.big-img
									img(src="./img/tintuc/big.png", alt="big.png")
								figcaption
									h4
										a(href="javascript:void(0)") ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp
									p Vượt 1600km, anh Tuấn Trung từ Cần Thơ mang đến FPT Educamp 2018 bài trình bày liên quan đến công tác tuyển sinh trong bối cảnh 4.0. Chủ đề này như thỏi nam châm hút người tham dự, “nóng” đến mức khiến người tham dự đến đứng, ngồi chật kín phòng trình bày tham luận. ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp
						a(href="javascript:void(0)").news-link Chàng hotboy ngành An toàn Thông tin nhận học bổng 100%
					.col-md-4
						-for(i=0; i <2; i++)
							.news-item
								figure
									.box-img
										img(src="./img/tintuc/small.png", alt="small.png")
									figcaption
										h5
											a(href="javascript:void(0)") ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp ĐH FPT đưa cuộc cách mạng công nghiệp 4.0 vào chương trình tư vấn hướng nghiệp
										time 04/08/2018
			.col-lg-3
				a(href="#").func-item
					figure
						.box-img
							img(src="./img/thisinh/1.png", alt="1")
						figcaption Trắc nghiệm chọn ngành / nghề
				a(href="#").func-item
					figure
						.box-img
							img(src="./img/thisinh/2.png", alt="2")
						figcaption Đăng ký dự thi kỳ thi
				a(href="#").func-item
					figure
						.box-img
							img(src="./img/thisinh/3.png", alt="3")
						figcaption Tra cứu danh sách kỳ thi
				a(href="#").func-item
					figure
						.box-img
							img(src="./img/thisinh/4.png", alt="4")
						figcaption Học bổng trường Đại học FPT
				a(href="#").func-item
					figure
						.box-img
							img(src="./img/thisinh/5.png", alt="5")
						figcaption Cách tính điểm xét học bạ vào
		.flex-center
			button.btn-more
				span xem thêm
section.comments-wrapper
	.container
		.fb-comments(data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="3")