extends ../_layout.pug
block var
	- var title = "Tin tức"
	- var name = "tintuc"
block main
	include ../../components/banner/sub/index.pug
	include ../../components/tintuc/t-1/index.pug
	section.tintuc-2-wrapper
		.container
			include ../../components/tintuc/t-2/index.pug
			include ../../components/tintuc/t-2/index.pug
			include ../../components/tintuc/t-2/index.pug
			include ../../components/tintuc/t-2/index.pug
	include ../../components/slide/s-1/index.pug