.breadcrumb-wrapper
    padding: 8px 0 !important
.fixed-register
    a
        @media (min-width: 992px)
            padding: 19px 20px
@media (max-width: 576px)
    .fpt-daotao-ct2 .reason-item
        justify-content: flex-start !important