section.fpt-sub-banner
	.banner
		img(src="./img/banner/2.jpg", alt="")
	.slogan
		img(src="./img/slogan.png", alt="")
	.breadcrumb-wrapper
		.container
			ol.breadcrumb
				li
					a(href="#") Giới thiệu
				li
					a(href="#") Giới thiệu