section.fpt-campus
	.container
		.section-wrapper
			h1 campus đại học FPT
			p Campus tạo ra một không gian làm việc sáng tạo, phù hợp cho các công ty công nghệ với đội ngũ nhân lực trẻ, đầy nhiệt huyết và ý tưởng. Mô hình này có những khu vực tiện ích như thể thao, giải trí, thư giãn hỗ trợ cho nhu cầu của nhân viên trong việc luyện tập cũng như xả stress, làm tăng sự gắn bó của nhân viên đối với công ty.
			.campus-slider-wrapper
				.big-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
				.small-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")
							.swiper-slide
								img(src="./img/campus/1.jpg", alt="")