footer.fpt-footer
	.container
		.row
			.col-sm-6.col-lg-3
				.footer-item
					img(src="./img/logo-footer.png", alt="")
					.copyright 
						p © 2018 thuộc về FPT Education.
						p All right reserved. Designed by Cánh Cam.
			.col-sm-6.col-lg-3
				.footer-item
					.footer-title Ngành đào tạo
					ul.footer-link
						li
							a(href="#") Kỹ thuật phần mềm
						li
							a(href="#") An toàn Thông tin 
						li
							a(href="#") Quản trị Kinh doanh
						li
							a(href="#") Kinh doanh Quốc tế
						li
							a(href="#") Ngôn ngữ Hàn Quốc
						li
							a(href="#") Quản trị Khách sạn
						li
							a(href="#") Quản trị Dịch vụ Du lịch và Lữ hành
						li
							a(href="#") Ngôn ngữ Anh
						li
							a(href="#") Ngôn ngữ Nhật
						li
							a(href="#") Truyền thông Đa phương tiện
						li
							a(href="#") Thiết kế Đồ hoạ
			.col-sm-6.col-lg-3
				.footer-item
					.footer-title Trường Đại Học FPT
					address Lô E2a-7, Đường D1 Khu Công nghệ cao, P.Long Thạnh Mỹ, Q.9, TP.HCM 
				.footer-item
					.footer-title Văn phòng tuyển sinh
					address Toà nhà Innovation, CVPM Quang Trung, P. Tân Chánh Hiệp, Q. 12, TP. HCM
				.footer-item
					a(href="#").phone
						span.mdi-phone
						span (028) 7300 5588
					a(href="#").mail
						span.mdi-email
						span daihoc.hcm@fpt.edu.vn
			.col-sm-6.col-lg-3
				iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFPTU.HCM%2F&tabs=timeline&width=270&height=290&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId', width='270', height='290', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')

