section.fpt-tracuu
	.container
		.section-wrapper
			.row
				.col-lg-4
					.img
						img(src="./img/thisinh/tracuu.png", alt="")
				.col-lg-8
					.tracuu-form
						h1 TRA CỨU KẾT QUẢ THI TIẾNG ANH K14
							span (Đang cập nhật)
						.form-tabs
							ul
								li
									a(href='#tab-1') Kết quả THI TIẾNG ANH K14
								li
									a(href='#tab-2') tRA KẾT QUẢ THI 15/7
							#tab-1
								.wrap-form
									.form-group
										label Họ và tên
										input(type="text", placeholder="")
									span Hoặc
									.form-group
										label Số chứng minh
										input(type="text", placeholder="")
							#tab-2
								.wrap-form
									.form-group
										label Họ và tên
										input(type="text", placeholder="")
									span Hoặc
									.form-group
										label Số chứng minh
										input(type="text", placeholder="")

