.tintuc-1
	> .container
		padding-top: 50px
		padding-bottom: 30px
		background: #fef0e8
		@media (max-width: 576px)
			padding-top: 24px !important
			padding-bottom: 20px !important
	.title
		font-size: 35px
		line-height: 35px
		margin-bottom: 30px
		font-weight: 700
		color: #f26f21
		text-align: center
		text-transform: uppercase
		@media (max-width: 576px)
			font-size: 24px
			line-height: 24px
			margin-bottom: 20px
	// @media (max-width: 576px)
	// 	[class*="col-"]
	// 		margin-bottom: 30px