section.tintuc-3
    .container
        .row
            .col
                .title
                    h4 sự kiện
                    a(href="javascript:void(0)").more xem tất cả
        .row
            .col-lg-3
                .item-event
                    figure
                        img(src="./img/tintuc/small.png", alt="small.png")
                        figcaption
                            .date
                                p.mm 30
                                p.dd T11
                            h4
                                a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                            time 8:00 AM
                            address Fanpage FPT
            .col-lg-3
                .item-event
                    figure
                        img(src="./img/tintuc/small.png", alt="small.png")
                        figcaption
                            .date
                                p.mm 30
                                p.dd T11
                            h4
                                a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                            time 8:00 AM
                            address Fanpage FPT
            .col-lg-3
                .item-event
                    figure
                        img(src="./img/tintuc/small.png", alt="small.png")
                        figcaption
                            .date
                                p.mm 30
                                p.dd T11
                            h4
                                a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                            time 8:00 AM
                            address Fanpage FPT
            .col-lg-3
                .item-event
                    figure
                        img(src="./img/tintuc/small.png", alt="small.png")
                        figcaption
                            .date
                                p.mm 30
                                p.dd T11
                            h4
                                a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                            time 8:00 AM
                            address Fanpage FPT