.lien-he
	.container
		padding-top: 50px
		padding-bottom: 70px
		background: #ffffff
	.title
		text-align: center
		margin-bottom: 30px
		h1
			font-size: 35px
			color: #333
			text-transform: uppercase
		p
			color: #534b40
			font-family: Muli, sans-serif
			font-weight: 300
			font-size: 16px
	.info
		background: #f8f8f8
		padding: 30px
		@media (max-width: 992px)
			margin-bottom: 30px
		@media (max-width: 576px)
			padding: 20px
		p
			position: relative
			padding-left: 25px
			&:before
				position: absolute
				top: 5px
				left: 0
		figure
			figcaption
				margin: 15px 0
				text-transform: uppercase
				font-size: 16px
				font-weight: 700
				color: #f26f21
		b, span, strong
			font-family: Muli, sans-serif
			font-size: 16px
			color: #666666
		b
			color: #f26f21
		span
			font-weight: 300
		.lnr
			font-size: 18px
	.form-group
		margin-bottom: 15px
		label
			display: block
			font-family: Muli, sans-serif
			margin-bottom: 5px
		input,
		select,
		textarea
			width: 100%
			font-family: Muli, sans-serif
			font-weight: 600
			font-size: 14px
			color: #f26f21
			padding: 10px 20px
			border: 1px solid #E1E1E1
			border-radius: 3px
			outline: none
			height: 41.2px
			&:focus
				box-shadow: 0 0 5px 2px #e1e1e1
		textarea
			height: 150px
		select
			color: #999
			option[value=""][disabled]
				display: none
				color: #999
	.wrap-form
		position: relative
	.frm-captcha
		display: flex
		align-items: center
		flex: 0 0 64%
		max-width: 64%
		@media (max-width: 992px)
			flex-direction: column
			align-items: flex-start
		.frm-captcha-input
			order: 1
			@media (max-width: 992px)
				margin-top: 10px
			.label
				display: none
			input
				width: 250px
				padding-left: 20px
				@media (min-width: 576px) and (max-width: 1200px)
					width: 150px
				@media (max-width: 576px)
					width: 180px
		.RadCaptcha_Default
			width: auto !important
			position: relative
			margin-right: 20px
			@media (max-width: 991.98px)
				margin-right: 0
				margin-top: 10px
			span
				position: absolute
				color: red
				font-family: Muli, sans-serif
				font-weight: bold
				bottom: -27px
				left: 0
			.rcRefreshImage
				font-size: 0
				text-decoration: none
				color: #999999
				display: block
				margin-left: 20px
				&:after
					content: "\f01e"
					font-family: "Font Awesome 5 Free"
					font-weight: 600
					font-size: 2rem
					color: #999999
			> div > div
				display: flex
				align-items: center
				img
					width: 132px!important
	.frm-btnwrap
		label
			display: none
		@media (min-width: 992px)
			position: absolute
			bottom: 4px
			right: 0
			margin: 0
			width: 30%
		@media (max-width: 768px)
			text-align: center
	.frm-btn-submit
		font-family: Muli, sans-serif
		font-weight: 600
		font-size: 14px
		background: #f26f21
		color: #fff !important
		padding: 10px 50px
		border: 1px solid #E1E1E1
		border-radius: 3px
		text-transform: uppercase
		outline: none
		@media (max-width: 768px)
			width: 150px !important
			margin: 0 auto
	.maps
		width: 100%
		height: 500px
		margin-top: 50px
		iframe
			width: 100%
			height: 100%
	.frm-btn-reset
		display: none