.lien-he
    .container
        padding-top: 50px
        padding-bottom: 70px
        background: #ffffff
    .title
        text-align: center
        margin-bottom: 30px
        h1
            font-size: 35px
            color: #333
            text-transform: uppercase
        p
            color: #534b40
            font-family: Muli, sans-serif
            font-weight: 300
            font-size: 16px
    .info
        background: #f8f8f8
        padding: 30px
        figure
            figcaption
                margin: 15px 0
                text-transform: uppercase
                font-size: 16px
                font-weight: 700
                color: #f26f21
        b, span, strong
            font-family: Muli, sans-serif
            font-size: 16px
            color: #666666
        b
            color: #f26f21
        span
            font-weight: 300
        .lnr
            font-size: 18px
    .fill
        margin-bottom: 15px
        label
            display: block
            font-family: Muli, sans-serif
            margin-bottom: 5px
        input,
        select,
        textarea
            width: 100%
            font-family: Muli, sans-serif
            font-weight: 600
            font-size: 14px
            color: #f26f21
            padding: 10px 20px
            border: 1px solid #E1E1E1
            border-radius: 3px
            outline: none
            &:focus
                box-shadow: 0 0 5px 2px #e1e1e1
        textarea
            height: 150px
        select
            color: #999
            option[value=""][disabled]
                display: none
                color: #999
    .frm-captcha
        display: flex
        justify-content: space-between
        align-items: center
        @media (max-width: 1200px)
            flex-direction: column
            label,
            .frm-captcha-input,
            .RadCaptcha
                margin-bottom: 15px
        label
            font-family: Muli, sans-serif
            white-space: nowrap
        .frm-captcha-input
            position: relative
            input
                width: 200px
                font-family: Muli, sans-serif
                font-weight: 600
                padding: 10px 20px
                border: 1px solid #E1E1E1
                border-radius: 3px
                outline: none
                &:focus
                    box-shadow: 0 0 5px 2px #e1e1e1
            span
                font-family: Muli, sans-serif
                display: block
                position: absolute
                top: 110%
                font-weight: 700
                color: red
        .RadCaptcha
            display: flex
            img
                width: 140px !important
                height: 50px
                display: block
            a
                color: #999
                font-size: 0
                margin-left: 10px
                text-decoration: none
                &:after
                    color: #999
                    font-family: Font Awesome\ 5 Free
                    font-size: 2rem
                    font-weight: 600
                    content: "\f01e"
        .send
            input
                font-family: Muli, sans-serif
                font-weight: 600
                font-size: 14px
                background: #f26f21
                color: #fff
                padding: 10px 50px
                border: 1px solid #E1E1E1
                border-radius: 3px
                text-transform: uppercase
                outline: none
    .maps
        width: 100%
        height: 500px
        margin-top: 50px
        iframe
            width: 100%
            height: 100%