section.lien-he
    .container
        .title
            h1 liên hệ
            p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho FPT
            p Education chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
        .row
            .col-lg-4
                .info
                    figure
                        img(src="./img/logo.png", alt="logo.png")
                        figcaption TRƯỜNG ĐẠI HỌC FPT
                    p.lnr.lnr-map-marker
                        strong Địa chỉ:  
                        span Lô E2a-7, Đường D1 Khu Công nghệ cao, P.Long Thạnh Mỹ, Q.9, TP.HCM 
                    p.lnr.lnr-bullhorn
                        strong Văn phòng Tuyển sinh:  
                        span Toà nhà Innovation, CVPM Quang Trung, P. Tân Chánh Hiệp, Q. 12, TP. HCM
                    p.lnr.lnr-phone-handset
                        strong Điện thoại:  
                        b (028) 7300 558
                    p.lnr.lnr-envelope
                        strong Email:  
                        span daihoc.hcm@fpt.edu.vn
            .col-lg-8
                .wrap-form
                    .row
                        .col-md-6.form-group
                                label Họ và tên *
                                input(type="text")
                        .col-md-6.form-group
                            label Email *
                            input(type="text" placeholder="example@gmail.com")
                        .col-md-6.form-group
                            label Số điện thoại *
                            input(type="text")
                        .col-md-6.form-group
                            label Bộ phận liên hệ
                            select
                                option(value="" disabled selected) Chọn bộ phận liên hệ
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                        .col-md-12.form-group
                            label Tiêu đề
                            input(type="text")
                        .col-md-12.form-group
                            label Nội dung
                            textarea(placeholder="Nhập nội dung...")
                .form-group.frm-captcha
                    .frm-captcha-input
                        label.label
                            | Nhập mã hiển thị
                        input(name="ctl00$mainContent$ctl02$txtCaptcha" type="text" maxlength="5")
                    .RadCaptcha.RadCaptcha_Default(style="width:50%;")
                        span(style="visibility:hidden;") Mã không đúng.
                        #ctl00_mainContent_ctl02_captcha_SpamProtectorPanel
                            #ctl00_mainContent_ctl02_captcha_ctl01
                                img#ctl00_mainContent_ctl02_captcha_CaptchaImageUP(alt="" src="./img/capcha.jpg" style="height:50px;width:180px;display:block;")
                                a#ctl00_mainContent_ctl02_captcha_CaptchaLinkButton.rcRefreshImage(title="Hình ảnh mới" href="javascript:__doPostBack('ctl00$mainContent$ctl02$captcha$CaptchaLinkButton','')" style="display:block;") Hình ảnh mới
                        input#ctl00_mainContent_ctl02_captcha_ClientState(name="ctl00_mainContent_ctl02_captcha_ClientState" type="hidden")
                .form-group.frm-btnwrap
                    label.label  
                    .frm-btn
                        input#ctl00_mainContent_ctl02_btnSubmit.btn.btn-default.frm-btn-submit(type="submit" name="ctl00$mainContent$ctl02$btnSubmit" value="Gửi" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$mainContent$ctl02$btnSubmit", "", true, "formwizardb7b45a64-2047-490e-91a0-edf774856238", "", false, false))')
                        input#ctl00_mainContent_ctl02_btnReset.btn.btn-default.frm-btn-reset(name="ctl00$mainContent$ctl02$btnReset" type="reset" value="Xóa")
                        input#ctl00_mainContent_ctl02_hdnResponseSetGuid(type="hidden" name="ctl00$mainContent$ctl02$hdnResponseSetGuid")




        .maps
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4551572511473!2d106.627356113769!3d10.852944360746784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a228e44c0f9%3A0x213883275b5eff07!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1553537076627" frameborder="0" allowfullscreen="")