section.fpt-tuyensinh-nganhdaotao
	.container
		.section-wrapper
			h2 các Ngành Đào Tạo
			.row.no-gutters
				.col-lg-6
					.description
						h3 các Ngành Đào Tạo
						p Trường Đại học FPT hướng tới xây dựng mô hình của một trường Đại học thế hệ mới, có triết lý giáo dục hiện đại, gắn liền đào tạo với thực tiễn cuộc sống và nhu cầu nhân lực của đất nước, góp phần đưa Giáo dục Việt Nam tiến tới ngang tầm các nước trên thế giới.
						a.btn-more
							span xem tất cả
				.col-6.col-md-4.col-lg-3.item
					figure
						.img
							img(src="./img/nganhdaotao/thumbnail/1.jpg", alt="alt")
						figcaption 
							h4 Công nghệ thông tin
				.col-6.col-md-4.col-lg-3.item
					figure
						.img
							img(src="./img/nganhdaotao/thumbnail/2.jpg", alt="alt")
						figcaption 
							h4 Công nghệ thông tin
							ul
								li
									a(href="#") Kỹ thuật phần mềm
								li
									a(href="#") An toàn thông tin
								li
									a(href="#") An toàn thông tin
				.col-6.col-md-4.col-lg-3.item
					figure
						.img
							img(src="./img/nganhdaotao/thumbnail/3.jpg", alt="alt")
						figcaption 
							h4 Công nghệ thông tin
				.col-6.col-md-4.col-lg-3.item
					figure
						.img
							img(src="./img/nganhdaotao/thumbnail/4.jpg", alt="alt")
						figcaption 
							h4 Công nghệ thông tin
				.col-6.col-md-4.col-lg-3.item
					figure
						.img
							img(src="./img/nganhdaotao/thumbnail/5.jpg", alt="alt")
						figcaption 
							h4 Công nghệ thông tin
				.col-6.col-md-4.col-lg-3.item
					figure
						.img
							img(src="./img/nganhdaotao/thumbnail/6.jpg", alt="alt")
						figcaption 
							h4 Công nghệ thông tin