section.fpt-danhsachdaotao
	.container
		.section-wrapper
			h1 các Ngành Đào Tạo
			.row
				.col-md-6
					figure
						img(src="./img/nganhdaotao/img-1.jpg", alt="alt")
						figcaption 
							span công nghệ thông tin
							ul
								li công nghệ thông tin 1
				.col-md-6
					figure
						img(src="./img/nganhdaotao/img-2.jpg", alt="alt")
						figcaption công nghệ thông tin
				.col-md-6
					figure
						img(src="./img/nganhdaotao/img-1.jpg", alt="alt")
						figcaption công nghệ thông tin
				.col-md-6
					figure
						img(src="./img/nganhdaotao/img-2.jpg", alt="alt")
						figcaption công nghệ thông tin