.fpt-danhsachdaotao
	.container
		background: #fff
	.section-wrapper
		padding: 72px 0 20px
	h1
		text-transform: uppercase
		font-size: 35px
		color: #f26f21
		text-align: center
		margin-bottom: 28px
	figure
		position: relative
		margin-bottom: 30px
		overflow: hidden
		img
			transition: 0.6s all
		&:hover
			img
				transform: scale(1.1)
				transition: 0.6s all
		figcaption
			position: absolute
			left: 32px
			bottom: 21px
			color: #fff
			text-transform: uppercase
			font-weight: 700
			span
				margin-bottom: 10px
				display: block
			ul
				list-style: none
				color: #fff
				max-height: 0
				opacity: 0
				transition: all .75s
				li
					font-size: 13px
					background: #f26f21
					padding: 5px
					+ li
						margin-top: 5px
					a
						text-decoration: none
						&:hover
							color: #fff
		&:hover
			figcaption
				ul
					max-height: 300px
					opacity: 1
					transition: all .75s
				@media (max-width: 440px)
					left: 10px
					bottom: 10px
					ul
						li
							margin-left: -10px