section.fpt-event-1
	.container
		.section-wrapper
			h2 sự kiện
			.event-slider
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							article.event-item
								.img
									img(src="./img/sukien/thumb.jpg", alt="")
								.summary
									.date
										span.month t11
										span.day 30
									h3 Khởi động cuộc thi “Thank you teacher”
									.time 8:00 AM
									.location Singapore
						.swiper-slide
							article.event-item
								.img
									img(src="./img/sukien/thumb.jpg", alt="")
								.summary
									.date
										span.month t11
										span.day 30
									h3 Khởi động cuộc thi “Thank you teacher”
									.time 8:00 AM
									.location Singapore
						.swiper-slide
							article.event-item
								.img
									img(src="./img/sukien/thumb.jpg", alt="")
								.summary
									.date
										span.month t11
										span.day 30
									h3 Khởi động cuộc thi “Thank you teacher”
									.time 8:00 AM
									.location Singapore
						.swiper-slide
							article.event-item
								.img
									img(src="./img/sukien/thumb.jpg", alt="")
								.summary
									.date
										span.month t11
										span.day 30
									h3 Khởi động cuộc thi “Thank you teacher”
									.time 8:00 AM
									.location Singapore
						.swiper-slide
							article.event-item
								.img
									img(src="./img/sukien/thumb.jpg", alt="")
								.summary
									.date
										span.month t11
										span.day 30
									h3 Khởi động cuộc thi “Thank you teacher”
									.time 8:00 AM
									.location Singapore
				.swiper-navigation
					.swiper-prev
						span.mdi-chevron-left
					.swiper-next
						span.mdi-chevron-right