.fpt-home-2
	margin: 5px 0
	background: url(../img/main-bg.png)
	.container
		@media (min-width: 576px)
			padding: 0
	.list-nav
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	.nav-item
		flex: 0 0 calc(20% - 2.5px)
		max-width: calc(20% - 2.5px)
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		background: #fff
		height: 165px
		color: #333333
		transition: 0.3s all
		span
			display: block
			max-width: 165px
			margin-top: 14px
			font-weight: 700
			font-size: 15px
			text-transform: uppercase
		img
			transition: 0.3s all
		&:nth-child(2n)
			background: #F26F21
			color: #fff
			img
				filter: brightness(0) invert(1)
		&:hover
			background: #faae2d
			color: #fff
			transition: 0.3s all
			img
				filter: brightness(0) invert(1)
				transition: 0.3s all
		@media (max-width: 992px)
			padding: 0 10px
			span
				font-size: 12px
			img
				transform: scale(0.9)
		@media (max-width: 768px)
			flex: 0 0 calc(33.333% - 2.5px)
			max-width: calc(33.333% - 2.5px)
			&:nth-child(5),&:nth-child(4)
				margin-top: 5px
				flex: 0 0 calc(50% - 2.5px)
				max-width: calc(50% - 2.5px)
		@media (max-width: 576px)
			flex: 0 0 calc(50% - 2px) !important
			max-width: calc(50% - 2px) !important
			margin-top: 0 !important
			&:nth-child(2),&:nth-child(3)
				background: #F26F21 !important
				img
					filter: brightness(0) invert(1)
				span
					color: #fff
			&:nth-child(1),&:nth-child(4)
				background: #ffffff !important
				img
					filter: none
				span
					color: #333
			&:nth-child(1),&:nth-child(2)
				margin-bottom: 4px
			&:nth-child(5)
				display: none
			// + .nav-item
			// 	margin-top: 5px
			span
				font-size: 14px