section.fpt-home-2
	.container
		.list-nav
			a(href="#").nav-item
				img(src="./img/home/hoidap/1.png", alt="")
				span Trắc nghiệm chọn ngành/ nghề
			a(href="#").nav-item
				img(src="./img/home/hoidap/2.png", alt="")
				span Trắc nghiệm chọn ngành/ nghề
			a(href="#").nav-item
				img(src="./img/home/hoidap/3.png", alt="")
				span Trắc nghiệm chọn ngành/ nghề
			a(href="#").nav-item
				img(src="./img/home/hoidap/4.png", alt="")
				span Trắc nghiệm chọn ngành/ nghề
			a(href="#").nav-item
				img(src="./img/home/hoidap/5.png", alt="")
				span Trắc nghiệm chọn ngành/ nghề