extends ../_layout.pug
block var
	- var title = "Tuyen sinh"
	- var name = "tuyensinh"
block main
	include ../../components/banner/sub/index.pug
	include ../../components/daotao/ct/c-2/index.pug
	include ../../components/tuyensinh/campus/index.pug
	include ../../components/tuyensinh/khonggian/index.pug
	include ../../components/daotao/ct/c-6/index.pug
	include ../../components/tuyensinh/doitac/index.pug
	include ../../components/tuyensinh/nganhdaotao/index.pug
	include ../../components/daotao/ct/c-7/index.pug