section.fpt-register
	.container
		.section-wrapper
			h1 thông tin đăng ký
			.row
				.col-lg-8.register-form
					.wrap-form
						#ctl00_1
							.row
								.form-group.col-12
									label Họ và tên*
									input(type="text", placeholder="Ho va ten") 
								.form-group.col-md-6
									label Họ và tên*
									input(type="text", placeholder="Ho va ten") 
								.form-group.col-md-6
									label Họ và tên*
									input(type="text", placeholder="Ho va ten") 
								.form-group.col-md-6
									label Họ và tên*
									input(type="text", placeholder="Ho va ten") 
								.form-group.col-md-6
									label Tỉnh/ Thành phố *
									select 
										option(value="lorem 1") lorem 1
										option(value="lorem 1") lorem 1
										option(value="lorem 1") lorem 1
								.form-group.col-md-6
									label Trường THPT / Đại học *
									input(type="text", placeholder="Ho va ten") 
								.form-group.col-md-6
									label Ngành đăng ký
									select 
										option(value="lorem 1") lorem 1
										option(value="lorem 1") lorem 1
										option(value="lorem 1") lorem 1
								.form-group.col-12.qradio
									label.label Nơi Đăng ký * 
									ul.cf
										li
											input(type="radio", name="radio")#rdo1
											label(for="rdo1") TP.Hồ Chí Minh
										li
											input(type="radio", name="radio")#rdo2
											label(for="rdo2") TP.Hồ Chí Minh
										li
											input(type="radio", name="radio")#rdo3
											label(for="rdo3") TP.Hồ Chí Minh
										li
											input(type="radio", name="radio")#rdo4
											label(for="rdo4") TP.Hồ Chí Minh
						.frm-btnwrap
							.frm-btn
								input(type="submit", value="Đăng ký")