section.fpt-daotao-ct5
	.container
		.section-wrapper
			h2 BẠN CÓ 
				strong PHÙ HỢP 
				| VỚI NGÀNH 
				strong KỸ THUẬT PHẦN MỀM?
	.content-wrapper
		.img
			img(src="./img/nganhdaotao/bg.jpg", alt="")
		.content
			.container
				ul
					li
						span.mdi-mouse
						| Bạn nhạy bén với công nghệ?
					li 
						span.mdi-mouse
						| Bạn có tư duy logic?
					li 
						span.mdi-mouse
						| Bạn có khả năng làm việc dưới áp lực cao?
				p 
					span.lnr-arrow-right
					| Bạn phù hợp với ngành 
				h3 Kỹ thuật phần mềm