section.fpt-about-2
	.container
		.section-wrapper
			.fpt-logo
				img(src="./img/logo-fpt.png", alt="")
			.orgranization-chart
				h2 4 lĩnh vực hoạt động và 7 đơn vị thành viên &amp; liên kết
				.row.nodes-list
					.col-md-3.node-col
						.parent-node
							img(src="./img/gioithieu/4.png", alt="")
							span Viễn thông
						ul.children-node
							li
								a(href="#") FPT Telecom
							li
								a(href="#") FPT Online
					.col-md-3.node-col
						.parent-node
							img(src="./img/gioithieu/5.png", alt="")
							span Viễn thông
						ul.children-node
							li
								a(href="#") FPT Information System
							li
								a(href="#") FPT Software
					.col-md-3.node-col
						.parent-node
							img(src="./img/gioithieu/7.png", alt="")
							span Viễn thông
						ul.children-node
							li
								a(href="#") FPTS
							li
								a(href="#") Synnex FPT
							li
								a(href="#") FPT Fund Management
							li
								a(href="#") FPT Retail
					.col-md-3.node-col
						.parent-node
							img(src="./img/gioithieu/6.png", alt="")
							span Viễn thông
						ul.children-node
							li
								a(href="#") FPT Telecom
							li
								a(href="#") FPT Online