section.tintuc-ct-1
    .container
        .row
            .col-lg-9
                .main-news
                    .title
                        h1 Sắc cam ngập tràn ngày hội tư vấn kỳ thi THPT Quốc gia 2019 tại Đồng Nai
                        time 28/12/2018
                    figure
                        img(src="./img/tintuc/big.png", alt="big.png")
                        figcaption Môi trường học tập năng động và khác biệt của Đại học FPT cũng là điểm thu hút các bạn học sinh THPT. 
                    strong Trải nghiệm kính thực tế ảo, nhận những phần quà đặc biệt và lắng nghe những tư vấn về ngành nghề, các thông tin quan trọng về kỳ thi THPT Quốc gia 2019 là những gì các bạn học sinh THPT tại Đồng Nai nhận được khi đến với gian hàng tư vấn của Đại học FPT.
                    p Chương trình ngày hội tư vấn Tuyển sinh do báo Thanh Niên phối hợp với Bộ GD-ĐT, Sở GD-ĐT tỉnh Đồng Nai tổ chức với sự tham gia của Trường đại học FPT và nhiều trường đại học, cao đẳng trong địa bàn tỉnh Đồng Nai và TP.HCM. Chương trình đã thu hút hơn 10.000 học sinh THPT tại Đồng Nai tham gia.
                    strong Cùng xem lại một số hình ảnh của Đại học FPT tại ngày hội tư vấn tuyển sinh 2019 tại Đồng Nai vừa qua:
                    figure
                        img(src="./img/tintuc/big.png", alt="big.png")
                        figcaption Môi trường học tập năng động và khác biệt của Đại học FPT cũng là điểm thu hút các bạn học sinh THPT.
                    figure
                        img(src="./img/tintuc/big.png", alt="big.png")
                        figcaption Môi trường học tập năng động và khác biệt của Đại học FPT cũng là điểm thu hút các bạn học sinh THPT.
                    figure
                        img(src="./img/tintuc/big.png", alt="big.png")
                        figcaption Môi trường học tập năng động và khác biệt của Đại học FPT cũng là điểm thu hút các bạn học sinh THPT.
                    p
                        | Chương trình ngày hội tư vấn Tuyển sinh do báo Thanh Niên phối hợp với Bộ GD-ĐT, Sở GD-ĐT tỉnh Đồng Nai tổ chức với sự tham gia của
                        strong  Trường đại học FPT 
                        | và nhiều trường đại học, cao đẳng trong địa bàn tỉnh Đồng Nai và TP.HCM.
                        strong  Chương trình đã thu hút hơn 10.000 học sinh THPT tại Đồng Nai tham gia.
                    .tags
                        a(href="javascript:void(0)") Tuyển sinh
                        a(href="javascript:void(0)") Tư vấn tuyển sinh
                        a(href="javascript:void(0)") Trường đại học FPT
                        a(href="javascript:void(0)") Đại học FPT
                        a(href="javascript:void(0)").active Trường đại học FPT
                        a(href="javascript:void(0)") Đại học FPT
                        a(href="javascript:void(0)") Sinh viên đại học FPT
                        a(href="javascript:void(0)") Trường đại học FPT
                        a(href="javascript:void(0)") Đại học FPT
                        a(href="javascript:void(0)") Sinh viên đại học FPT
                        a(href="javascript:void(0)") Trường đại học FPT
                            a(href="javascript:void(0)") Đại học FPT
                h3.title-lienquan tin liên quan
                .row
                    - for(i = 0; i < 3; i++)
                        .col-12.col-md-4
                            .news-item
                                figure
                                    .box-img
                                        img(src="./img/tintuc/medium.png", alt="medium.png")
                                    figcaption
                                        h5
                                            a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                                        time 04/08/2018
            .col-lg-3
                .tintuc-khac
                    h2.title tin tức khác
                    - for(i = 0; i < 5; i++)
                        .thumbs-item
                            figure
                                .box-img
                                    img(src="./img/tintuc/medium.png", alt="medium.png")
                                figcaption
                                    h5
                                        a(href="javascript:void(0)") Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc Sinh viên ĐH FPT gửi gắm “Những điều chưa nói” qua âm nhạc
                                    time 04/08/2018
