header.fpt-header
	section.top-header
		.container
			ul.top-header-menu
				li
					a(href="#") Thí sinh 2019
				li
					a(href="#") Sinh viên
				li
					a(href="#") Doanh nghiệp tuyển dụng
	section.middle-header
		.container
			.middle-header-wrapper
				.toggle-menu
					span
					span
					span
				ul.middle-header-menu
					li
						a(href="#")
							span.mdi-home
					li
						a(href="#") Giới thiệu
					li
						a(href="#") Ngành đào tạo 
					li
						a(href="#") Tuyển sinh
					li
						a(href="#") Hội nhập quốc tế 
					li
						a(href="#") Đăng ký
					li
						a(href="#") Liên hệ
				.language
					a(href="#")
						img(src="./img/flag.png", alt="")
	section.bottom-header
		.container
			.bottom-header-wrapper
				.logo-wrapper
					img(src="./img/logo.png", alt="")
				.search-wrapper
					.searchbox
						input(type="text", placeholder="Tìm kiếm thông tin...")
						button
							span.mdi-magnify