header.fpt-header
	section.top-header
		.container
			ul.top-header-menu
				li.active
					a(href="#") Thí sinh 2019
				li
					a(href="#") Sinh viên
				li
					a(href="#") Doanh nghiệp tuyển dụng
	section.middle-header
		.container
			.middle-header-wrapper
				.toggle-menu
					span
					span
					span
				ul.middle-header-menu
					li
						a(href="#")
							span.mdi-home
					li.has-sub
						a(href="#") 
							span Giới thiệu
							span.mdi-chevron-down
						ul.sub-menu
							li
								a(href="#") Giới thiệu 1
							li
								a(href="#") Giới thiệu 2
							li
								a(href="#") Giới thiệu 3
					li
						a(href="#") Ngành đào tạo 
					li
						a(href="#") Tuyển sinh
					li
						a(href="#") Hội nhập quốc tế 
					li
						a(href="#") Đăng ký
					li
						a(href="#") Liên hệ
				.language
					a(href="#")
						img(src="./img/flag.png", alt="")
				.search-toggle
					span.mdi-magnify
	section.bottom-header
		.container
			.bottom-header-wrapper
				.logo-wrapper
					img(src="./img/logo.png", alt="")
				.search-wrapper
					.searchbox
						input(type="text", placeholder="Tìm kiếm thông tin")
						button
							span.mdi-magnify