section.fpt-about
	.container
		.section-wrapper
			h1 FPT – TẬP ĐOÀN CÔNG NGHỆ HÀNG ĐẦU VIỆT NAM vươn tầm thế giới
			.row
				.col-lg-6.col-xl-4.statistic-col
					.statistic-item
						.statistic-title
							img(src="./img/gioithieu/1.png", alt="")
							span Doanh thu
						.statistic-body
							.statistic-number
								span.number(data-count="43845") 0
								span.unit tỷ đồng
				.col-lg-6.col-xl-4.statistic-col
					.statistic-item
						.statistic-title
							img(src="./img/gioithieu/2.png", alt="")
							span Nhân sự
						.statistic-body
							.statistic-number
								span.number(data-count="43845") 0
								span.unit nhân viên
				.col-lg-6.col-xl-4.statistic-col
					.statistic-item
						.statistic-title
							img(src="./img/gioithieu/3.png", alt="")
							span Hiện diện tại
						.statistic-body
							.statistic-number
								span.number(data-count="33") 0
								span.unit Quốc gia
							.statistic-number
								span.number(data-count="4") 0
								span.unit Châu lục