<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="MSSQLConnectionString" value="server=CANHCAM-10;UID=daihocfpt_8339;PWD=dfgtyuHw645@#;database=daihocfpt_8339" />
	<!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	-->
	<add key="UseLegacyCryptoHelper" value="false" />
	<add key="CheckMD5PasswordHashAsFallback" value="false" />
	<add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />
	<add key="UseAppKeepAlive" value="false" />
	<add key="AppKeepAliveUrl" value="" />
	<add key="CombineCSS" value="false" />
	<add key="RedirectNonWWWToWWW" value="false" />
	<add key="DisableBannedIpBlockingModule" value="false" />
	<add key="EnableContentWorkflow" value="false" />
	<!--JQuery Setup-->
	<add key="UseGoogleCDN" value="true" />
	<add key="ForceSingleSessionPerUser" value="false" />
	<add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
	<add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
	<add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
	<add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
	<add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />
	<add key="SetMasterInLoginPage" value="false" />
	<add key="SetMasterInChangePasswordPage" value="false" />
	<add key="SetMasterInPasswordResetPage" value="false" />
	<add key="SetMasterInProfilePage" value="false" />
	<add key="SetMasterInRecoverPasswordPage" value="false" />
	<add key="UseTokensForRecoveryPassword" value="true" />
	<!--<add key="TooManyPagesForGridEvents" value="0" />-->
	<add key="AllowMultipleSites" value="false" />
	<add key="TooManyPagesForDropdownList" value="10000" />
	<add key="EnableDeveloperMenuInAdminMenu" value="true" />
	<add key="EnableQueryTool" value="true" />
</appSettings>