extends ../_layout.pug
block var
	- var title = "Tuyển dụng ct"
	- var name = "tuyendung-ct"
block main
	include ../../components/banner/sub/index.pug
	include ../../components/tuyendung-ct/t-1/index.pug