section.fpt-event-2
	.container
		.section-wrapper
			h2 categories
			#calendar
			.event-calendar
				.event-item
					.title lorem
					.start 25-03-2019
					.end 27-03-2019
					.url http://www.google.com/
					.description 
						img(src="https://picsum.photos/200/300", alt="")
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab magnam facilis similique quos culpa iusto quisquam ipsa tenetur aspernatur. Perferendis incidunt ipsum corrupti neque delectus officia beatae quod dicta nemo?
				.event-item
					.title lorem 1
					.start 25-03-2019
					.end 27-04-2019
					.description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab magnam facilis similique quos culpa iusto quisquam ipsa tenetur aspernatur. Perferendis incidunt ipsum corrupti neque delectus officia beatae quod dicta nemo?