section.video
	.container
		.title video
		.row
			- for(i = 0; i < 10; i++)
				.col-12.col-md-6.col-lg-4
					.item
						figure
							a(href="https://youtu.be/IKx5CvIayV0" data-fancybox).box-img
								img(src="./img/tintuc/video.png", alt="video.png")
							figcaption Teambuiding dành cho các bạn Tân sinh viên K14 Đại học FPT

		.flex-center
			button.btn-more
				span xem thêm