section.fpt-daotao-ct3
	.container
		.row.no-gutters
			.col-lg-6
				.lo-trinh-wrapper
					h2 lộ trình đào tạo
					.lo-trinh-content
						.step-wrapper
							.step
								.content
									span Giai đoạn 04
									span Chuyên ngành hẹp &amp; Đồ án tốt nghiệp (3 học kỳ)
							.step
								.content
									span Giai đoạn 04
									span Chuyên ngành hẹp &amp; Đồ án tốt nghiệp (3 học kỳ)
							.step
								.content
									span Giai đoạn 04
									span Chuyên ngành hẹp &amp; Đồ án tốt nghiệp (3 học kỳ) 
							.step
								.content
									span Giai đoạn 04
									span Chuyên ngành hẹp &amp; Đồ án tốt nghiệp (3 học kỳ)
						.summary
							span 3 - 4 năm
							span 3 học kỳ/ năm
			.col-lg-6
				.khac-biet-wrapper
					h2 đào tạo khác biệt
					.content
						p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
						br
						p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.
						br
						p Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người. Theo số liệu thống kê năm 2016 của Vietnamworks – công ty tuyển dụng trực tuyến hàng đầu Việt Nam, mỗi năm, Việt Nam đang thiếu khoảng 78.000 nhân lực CNTT. Dự báo, đến năm 2020, tình trạng khan hiếm nguồn nhân lực CNTT sẽ ở mức báo động đỏ với số lượng thiếu hụt lên tới 500.000 người.

